@charset "utf-8";

// Style
#wrap {
	#container.p_issue {

		// 검색조건
		#top_searchs {
			.dcp > select {
				width: 200px;
			}
		}
	}
}

.radio_btn {

	> input {
		display:none;
	}

	> input + label {
		display:block;
		background:#bcbcbc;
		padding:15px 0px 15px 20px;
		margin-bottom:5px;
		color:#fff;
		cursor:pointer;
		transition:all .3s;
		font-size:1.2em;
	}
	> input + label:hover {
		background:#767676;
	}
	> input:checked + label {
		background: $point_color;
		font-weight:bold;
	}
}