@charset "utf-8";

// Variables
$font_family: '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum', 'AppleSDGothicNeo-Light', 'Sans-serif', 'Tahoma';
//$font_family: Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
$fs_default: 0.875em;		    // 14px
$fs_s_size: 0.917em;			// 11px

// Style
.fs_small {
	font-size: $fs_s_size;
}
body{
	font-family : $font_family;
    font-size: $fs_default;
    letter-spacing: -.02em;
}